# Dependencies
node_modules/
.vscode/

# Temporary files
draft.js

#
.gitignore

#
database_dump_MIG.txt
mig-db.json
mig2.json
mig-convert-to-JSON.js
circuit-results/
circuit-descriptions/mig copy.json
