# Dependencies
node_modules/
.vscode/

# Temporary files
draft.js

#
.gitignore

#
database_dump_MIG.txt
mig-db.json
circuit-descriptions/mig-and-error — копия.json
src/draft.html
src/draft-data.js
circuit-descriptions/mig-and-error-9.json
circuit-descriptions/database_dump_AIG.txt
circuit-descriptions/aig.txt
src/utils/circuit-description-formatting.js
circuit-descriptions/aig-converted.json
circuit-descriptions/aig-db.json
src/app/services/test-analizator.js
src/services/errors.ndjson
src/services/optimal-process-circuits.js
src/services/results.ndjson
src/services/test-optimal.js
src/utils/load-ndjson.js
