# Dependencies
node_modules/
.vscode/

# Temporary files
draft.js

#
.gitignore

#
database_dump_MIG.txt
mig-db.json
mig-convert-to-JSON.js
circuit-descriptions/mig-and-error — копия.json
src/draft.html
src/draft-data.js
circuit-descriptions/mig-and-error-9.json
circuit-descriptions/database_dump_AIG.txt
circuit-descriptions/aig.txt
