.header {
    padding: 35px;
}

.header-wrapper {
    padding: 57px;
    max-height: 170px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 44px;
    background-color: var(--color-blue);
    box-shadow: 20px 20px 150px 0 rgba(59, 38, 123, 0.7);
}

.file-upload-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-btn-group {
    display: flex;
    width: 138px;
    height: 58px;
    border-radius: 30px;
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;
}

.btn--attach {
    text-align: center;
    width: 100px;
    border-radius: 30px 0 0 30px;
}

.btn--sample {
    width: 34px;
    border-radius: 0 30px 30px 0;
}

.file-name {
    max-width: 155px;
    max-height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 15px;
    font-size: 24px;
    color: var(--color-white);
}

.btn--shortcuts {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 4px 10px var(--color-black-25);
}

.btn--shortcuts svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: white;
    stroke-width: 2;
}

.field--shortcuts {
    position: fixed;
    padding: 15px;
    top: 90px;
    right: max(10px, calc(50vw - 765px));
    width: 250px;
    height: 300px;
    overflow: auto;
    scrollbar-width: none;
    color: var(--color-white);
    font-size: 20px;
    transition: right 0.3s ease;
}

.field--shortcuts__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.field--shortcuts__list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.field--shortcuts__title {
    width: 100%;
    text-align: center;
}

.field--shortcuts__keys {
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1px 1px 0 1px;
    min-width: 20px;
    height: 20px;
    border-radius: 4px;
    box-shadow: inset 0 0 10px var(--color-blue), 0 0 2px 0 var(--color-white);
    backdrop-filter: blur(75px);
}

.process-btn-group {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

@media (max-width: 992px) {
    .btn--shortcuts {
        display: none;
    }
    .field--shortcuts {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
    }
    .header-wrapper {
        padding: 40px;
    }
    .file-name {
        max-width: 100px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 10px;
    }
    .header-wrapper {
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .header-wrapper {
        padding: 20px;
    }
    .file-name {
        display: none;
    }
}
