.header {
    padding: 35px;
}

.header-wrapper {
    padding: 57px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 44px;
    background-color: var(--color-blue);
    box-shadow: 20px 20px 150px 0 rgba(59, 38, 123, 0.7);
}

.file-upload-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-name {
    max-width: 155px;
    margin-left: 15px;
    font-size: 24px;
    color: var(--color-white);
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
    }
    .header-wrapper {
        padding: 40px;
    }
    .file-name {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 10px;
    }
    .header-wrapper {
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .header-wrapper {
        padding: 20px;
    }
    .file-name {
        display: none;
    }
}
