.main {
    padding: 0 10px 35px 10px;
}

.visualization {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.visualization__side-panel {
    flex: 0 1 100%;
    height: auto;
    flex-wrap: wrap;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.visualization__side-panel--left {
    gap: 60px;
}

.binary-input__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-set {
    padding: 0 10px 0 10px;
    width: 134px;
    height: 54px;
    border-radius: 30px;
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.input-set:hover {
    cursor: not-allowed;
}

.set-button {
    font-size: 25px;
    color: var(--color-purple-dark);
    background: none;
    border: none;
    transition: background 0.3s ease;

    &:hover {
        cursor: pointer;
    }
    &:disabled {
        cursor: not-allowed;
        color: var(--color-purple-light);
    }
    &:focus-visible {
        color: var(--color-white);
    }
    &:hover:not(:disabled) {
        cursor: pointer;
        color: var(--color-white);
    }
    &:active {
        transform: scale(0.95);
        transition: transform 0.1s ease;
    }
}

.duration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 160px;
}

.duration__input-wrapper {
    font-size: 24px;
    color: var(--color-white);
}

.duration__input-wrapper::after {
    content: "s";
}

.duration__input {
    padding: 0;
    text-align: right;
    background: none;
    max-width: 35px;
    font-size: 20px;
    color: var(--color-white);
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-blue);
}

.duration__input:focus {
    border-radius: 4px;
    border: 2px solid var(--color-blue);
    outline: none;
}

.duration__btns-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 134px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;
    outline: none;
    border-width: 1px;
    border-color: var(--color-white-50);
    box-shadow: inset 1px 1px 0 var(--color-white-25),
        5px 4px 10px var(--color-black-25);
    transition: width 0.3s ease;
}

.duration__btn {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid transparent;
    box-shadow: none;
}

.button--play {
    padding: 5px 40px;
}

.visualization__main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    background-color: var(--color-blue);
    width: min(1000px, 93vw);
    height: 860px;
    border-radius: 44px;
}

.circuit-options-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 30px;
    width: 80%;
}

.checkbox-group {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.checkbox-group:hover .checkbox-label {
    cursor: pointer;
}

.checkbox-group:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-label,
.circuit-format {
    user-select: none;
    padding: 4px 6px;
    border-radius: 12px;
    background-color: var(--color-purple-dark-50);
}

.checkbox-wrapper:hover .check,
.checkbox-wrapper.hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.checkbox-wrapper .background {
    fill: var(--color-purple-dark-50);
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .stroke {
    fill: none;
    stroke: var(--color-white);
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .check {
    fill: none;
    stroke: var(--color-white);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 100;
    -appearance: none;
    -webkit-appearance: none;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.checkbox-wrapper svg {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
}

.checkbox-wrapper input:disabled + svg {
    cursor: not-allowed;
    opacity: 0.5;
}

.checkbox-wrapper input:disabled + svg .check {
    stroke: var(--color-pink-bg);
}

.checkbox-wrapper input[type="checkbox"]:hover {
    cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .background {
    fill: var(--color-purple-light-50);
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .check {
    stroke-dashoffset: 0;
}

.progress-bar-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 30px;
    width: 80%;
}

.arrow-button {
    color: var(--color-white);
    box-sizing: border-box;
    margin: 0;
    padding: 0 1.5px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.1s ease;
}

.arrow-button:hover {
    border-color: white;
}

.arrow-button:active {
    background-color: #48319d;
}

.arrow-button:active .icon {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    transition: transform 0.1s ease;
}

.progress-bar {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid var(--color-white);
    border-radius: 30px;
    width: 100%;
}
.progress-slider {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    scrollbar-width: none;
    background: var(--color-purple-light);
    border: 2px solid var(--color-white);
    border-radius: 30px;
    transition: left 0.3s ease;
}
.circuit-number {
    text-align: center;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
    justify-self: center;
    z-index: 1000;
    text-overflow: ellipsis;
    width: 90%;
}

.circuit-input {
    all: unset;
    width: 80%;
    text-align: center;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
    border: 2px solid transparent;
}

.circuit-input:hover {
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
}

.suggestions-list {
    list-style: none;
    margin: 4px 0 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-purple-light);
    color: var(--color-white);
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    width: 80%;
    min-width: 90px;
    z-index: 10000;
    scrollbar-width: none;
}

.suggestions-list li {
    text-align: center;
    opacity: 0.8;
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background: var(--color-purple-dark);
    opacity: 1;
}

.visualization__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 44px;
}

.visualization__side-panel--right {
    gap: 30px;
}

.set-results-wrapper {
    padding: 25px 10px;
    width: 200px;
    height: 200px;
    backdrop-filter: blur(50px);
}

.set-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--color-white);
    font-size: 24px;
}

.set-results li:last-child {
    margin-top: auto;
}

.set-results.error li:last-child {
    font-weight: 700;
    margin-top: 0;
}

.set-results.error {
    display: grid;
    place-items: center;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 100%;
    max-width: 500px;
    padding: 20px 0;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    background: var(--color-purple-light-50);
    backdrop-filter: blur(75px);
    color: var(--color-white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
    margin-bottom: 10px;
}

.modal p {
    text-align: left;
    margin: 5px;
    font-weight: 700;
    width: 200px;
}

.modal__info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
}

.modal__info div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.modal-close {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.results {
    display: block;
    padding-top: 35px;
}

.table-wrapper {
    display: block;
    max-height: 536px;
    backdrop-filter: blur(75px);
    background-color: var(--color-gradient-grey-dark);
    border-radius: 44px;
    overflow: auto;
    position: relative;
    scrollbar-width: none;
}

.results-table {
    border-collapse: collapse;
    width: 100%;
    color: var(--color-white);
    font-size: 24px;
}

.results-table tr:last-child td {
    padding-bottom: 10px;
}

.results-table tr:first-child td {
    padding-top: 10px;
}

.results-table th,
.results-table td {
    border: none;
    text-align: center;
}

.results-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px 5px 20px 5px;
    background: var(--color-blue);
}

.results-table thead th:first-child {
    border-radius: 44px 0 0 0;
}
.results-table thead th:last-child {
    border-radius: 0 44px 0 0;
}

.table-additional {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.table-additional .btn {
    margin: 0 25px 0 25px;
}

.table-wrapper--visual {
    max-height: 450px;
    backdrop-filter: none;
    background: transparent;
    border-top: 1px solid var(--color-purple-light-50);
}

.results-table--visual {
    border-collapse: collapse;
    font-size: 20px;
}

.results-table--visual thead th {
    top: 0;
    padding: 15px 5px;
    background-color: var(--color-purple-dark);
}

.results-table--visual thead th:first-child {
    box-shadow: 0 0 0 20px var(--color-purple-light);
    padding-left: 15px;
}

.results-table--visual thead th:last-child {
    padding-right: 15px;
}

.results-table--visual tr td:first-child {
    padding-left: 10px;
}

.results-table--visual tr:last-child td {
    padding-bottom: 5px;
}

.results-table--visual tr:first-child td {
    padding-top: 5px;
}

.error-container {
    display: block;
    max-height: 300px;
    max-width: 800px;
    overflow: auto;
    color: var(--color-white);
    padding: 20px;
}

.analyzation {
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.analyzation__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--color-blue);
    box-shadow: 0px 0px 100px 0 rgba(59, 38, 123, 0.7);
    width: min(1000px, 93vw);
    min-height: 50px;
    border-radius: 44px;
}

.analyzation__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 44px;
    border: 2px solid transparent;
}

.analyzation__header label {
    padding-bottom: 10px;
}

.analyzation__header h2,
.analyzation__header label {
    display: inline-block;
    text-align: center;
    width: 100%;
    user-select: none;
}

.analyzation__header label,
input[type="checkbox"]:hover {
    cursor: pointer;
}

.analyzation__header:hover {
    border-radius: 44px;
    border: 2px solid var(--color-white);
}

.checkbox-arrow-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-arrow-wrapper input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 100;
}

.checkbox-arrow:checked + .checkbox-arrow-icon {
    transform: scaleY(-1);
}

.checkbox-arrow-icon {
    transition: transform 0.5s ease;
}

.analyzation__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.analyzation__main-controls {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-height: 130px;
}

/* From Uiverse.io by Pradeepsaranbishnoi */
.radio__tabs {
    display: flex;
    position: relative;
    background-color: var(--color-purple-light);
    box-shadow: 0 0 1px 0 var(--color-pink-bg),
        0 1px 10px 0 var(--color-pink-bg);
    padding: 0.75rem;
    border-radius: 44px;
}

.radio__tabs * {
    z-index: 2;
}

.radio__container input[type="radio"] {
    display: none;
}

.radio__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: 0.8rem;
    color: var(--color-white);
    font-weight: 500;
    border-radius: 44px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.radio__container input[type="radio"]:checked + label {
    color: var(--color-purple-dark);
}

.radio__container input[id="radio-1"]:checked ~ .radio__glider {
    transform: translateX(0);
}

.radio__container input[id="radio-2"]:checked ~ .radio__glider {
    transform: translateX(100%);
}

.radio__container input[id="radio-3"]:checked ~ .radio__glider {
    transform: translateX(200%);
}

.radio__glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 50px;
    background-color: var(--color-pink-bg);
    z-index: 1;
    border-radius: 44px;
    transition: 0.25s ease-out;
}

.btn--attach-analyze {
    width: 80%;
    transition: background 0.3s ease, box-shadow 0.5s ease;
    box-shadow: inset 1px 1px 1px 0 var(--color-white-25),
        0px 0px 0px var(--color-white-50);
}

.analyzation-reset {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: var(--color-white);
}

.analyzation-reset:hover {
    color: var(--color-pink-bg);
}

.analyzation-reset svg {
    transition: transform 0.1s ease;
}

.analyzation-reset:active svg {
    transform: scale(0.95);
}

.analyzation-module {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
}

.analyzation-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-white);
    background-color: var(--color-white-25);
    border-radius: 44px;
    padding: 15px;
    font-size: 20px;
    width: 30%;
    overflow: hidden;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox-container + label {
    user-select: none;
}

.checkbox-container + label:hover {
    cursor: pointer;
}

.metric-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.metric-checkbox-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.metric-checkbox-wrapper {
}

.checkmark {
    position: absolute;
    top: -4px;
    left: 4px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid var(--color-white);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.metric-checkbox:checked ~ .checkmark {
    background-color: var(--color-purple-dark);
    box-shadow: 0 3px 7px var(--color-white-25);
}

.metric-checkbox:checked ~ .checkmark:after {
    display: block;
}

@keyframes checkAnim {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

.metric-checkbox:checked ~ .checkmark:after {
    animation: checkAnim 0.2s forwards;
}

.input-count {
    padding: 0;
    text-align: right;
    background: none;
    max-width: 35px;
    font-size: 20px;
    color: var(--color-white);
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-white);
}

.input-count:focus {
    border-radius: 4px;
    border: 2px solid var(--color-white);
}

.btn--analyze {
    font-size: 16px;
}

@keyframes pulse-shadow {
    0%,
    100% {
        box-shadow: inset 1px 1px 1px 0 var(--color-white-25),
            5px 4px 5px var(--color-white-50);
    }
    50% {
        box-shadow: inset 1px 1px 1px 0 var(--color-white-25),
            5px 4px 20px var(--color-white-50);
    }
}

.animated-shadow {
    box-shadow: inset 1px 1px 1px 0 var(--color-white-25),
        5px 4px 5px var(--color-white-50);
    animation: pulse-shadow 2s ease-out infinite;
}

.min-circuits-content {
    display: flex;
    gap: 10px;
    scrollbar-width: none;
}

.min-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
}

.metrics-title {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

.analyze-table-wrapper {
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
}

.metrics-table {
    border-collapse: collapse;
    width: min(380px, 100%);
    color: var(--color-white);
    background-color: var(--color-white-25);
    border-radius: 44px;
    font-size: 20px;
    text-align: center;
}

.metrics-table thead th {
    position: sticky;
    top: 0;
    background: var(--color-purple-light);
    z-index: 1;
    border-bottom: 1px solid var(--color-white);
    padding: 10px;
}

.metrics-table tbody tr:last-child td:first-child,
.metrics-table tbody tr:last-child td:last-child {
    padding: 8px 13px 13px 13px;
}

.metrics-table thead th:first-child {
    box-shadow: 0 0 0 20px var(--color-blue);
    border-radius: 44px 0 0 0;
}

.metrics-table thead th:last-child {
    box-shadow: 0 0 0 20px var(--color-blue);
    border-radius: 0 44px 0 0;
}

.metrics-table tr:not(:last-child) {
    padding: 8px;
    border-bottom: 1px solid var(--color-white);
}

.metrics-table td {
    text-overflow: ellipsis;
    padding: 8px;
}

.metrics-table td:first-child {
    font-weight: 700;
    color: var(--color-purple-light);
}

.metrics-table td:first-child:hover {
    color: var(--color-pink-bg);
}

.metric-distributions-wrapper,
.race-line-wrapper,
.statistic-wrapper {
    justify-content: space-between;
}

.metric-distribution-content {
    background: var(--color-white-25);
    border: 1px solid var(--color-white);
    border-radius: 44px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    max-width: 600px;
}

.metric-distribution-stage {
    width: 100%;
    height: 400px;
}

.metric-input-group {
    position: relative;
    text-wrap: nowrap;
}

.analyze-suggestions-list {
    border: 1px solid var(--color-white);
    background-color: var(--color-white-25);
    backdrop-filter: blur(10px);
}

.analyze-suggestions-list:empty {
    display: none;
}

.metric-input-group:not(:focus-within) .analyze-suggestions-list {
    display: none;
}

.input-number {
    width: 50%;
    max-width: 100px;
}

.statistic-table-container {
    display: flex;
    justify-content: center;
    /* max-height: 550px; */
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
}

.statistic-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: min(500px, 100%);
    color: var(--color-white);
    background-color: var(--color-white-25);
    border-radius: 44px;
    font-size: 20px;
    text-align: center;
}

.statistic-table thead th {
    position: relative;
    top: 0;
    padding: 15px 5px;
    background-color: var(--color-purple-light);
}

.statistic-table thead tr:first-child th:first-child {
    box-shadow: 0 0 0 20px var(--color-blue);
    border-radius: 44px 0 0 0;
}
.statistic-table thead tr:first-child th:last-child {
    box-shadow: 20px 0 0 20px var(--color-blue);
    border-radius: 0 44px 0 0;
}

.statistic-table td {
    padding: 10px;
}

.statistic-table-content {
    display: flex;
    gap: 10px;
    scrollbar-width: none;
}

@media (min-width: 1440px) {
    .visualization__side-panel {
        max-width: 200px;
    }
}

@media (max-width: 992px) {
    .min-circuits-content {
        justify-content: center;
        flex-wrap: wrap;
    }
    .analyzation-reset {
        right: 0;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 0 20px 20px 20px;
    }
    .min-circuits-wrapper,
    .metric-distributions-wrapper,
    .race-line-wrapper,
    .statistic-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
    .btn--attach-analyze {
        width: 70%;
    }
    .analyzation-controls {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .main {
        padding: 0 10px 10px 10px;
    }
    .results-table {
        font-size: 20px;
    }
    .analyzation-controls {
        width: 60%;
    }
}
