* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;
    background: var(--color-gradient-grey), var(--color-pink-bg);
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: var(--color-gradient-grey);
    backdrop-filter: blur(75px);
    scrollbar-width: thin;
    scrollbar-color: var(--color-gradient-grey);
}

button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    border: none;
}

input:focus {
    margin: 0;
    padding: 0;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    position: sticky;
    top: 0;
}

.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.field {
    border-radius: 44px;
    backdrop-filter: blur(75px);
    background-color: var(--color-gradient-grey-dark);
}

.btn {
    width: 134px;
    height: 54px;
    border-radius: 30px;
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;
    outline: none;
    border: 2px solid transparent;
    box-shadow: inset 1px 1px 1px 0 var(--color-white-25),
        5px 4px 10px var(--color-black-25);
    transition: background 0.3s ease;
}

.btn:disabled {
    background-color: var(--color-purple-dark-50);
    cursor: not-allowed;
    color: var(--color-white-50);
}

.btn:focus-visible {
    border: 2px solid var(--color-white);
}

.btn:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--color-purple-light);
    border: 2px solid var(--color-white);
}

.btn:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

#custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 1000;
}

.custom-alert-content {
    background-color: var(--color-gradient-grey);
    margin-top: 10vh;
    padding: 20px;
    border-radius: 44px;
    backdrop-filter: blur(75px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

.custom-alert-content p {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--color-white);
}

.btn--alert {
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}
